body {
  height: 100vh;
  background-image: linear-gradient(DarkGoldenrod, gold);
}

#board>div {
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
  }
  
  .whiteSquare {
    background: chocolate;
  }
  
  .blackSquare {
    background: #444;
  }
    
  #board {
    margin: 0 0 0 100px;
    width: 480px;
    border: solid brown 20px;
    background-color: grey;
    padding: 5px;
    border-radius: 8px;
  }
  
  .highlighted {
    background-color: yellow;
  }

  .promotionFocus {
    background-color: blueviolet;
  }

  .disableClicks>div {
    pointer-events: none; /* Disable click events for all divs */
    opacity: 0.75;   /* "dimming the chess board" */
}

#blackBanner, #whiteBanner {
  margin-left: 100px;
  width: 530px;
  height: 20px;
  border-radius: 10px;
}

.hideBanner {
  background-color: transparent !important;
}

#blackBanner {
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: black;
}

#whiteBanner {
  margin-top: 15px;
  background-color: white;
}

/* template for class of boxes of different type (infobox itself, promotion, move history) */
.infoboxTemplate {
  margin-left: 50px;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 10px;
  /* width: 250px; */
  /* height: 80px; */
  border: grey solid 5px;
  border-radius: 10px;
}

/* specifying style of div = console for informing player about moves */
#infobox {
  background-color: yellow;
  font-size: 25px;
  width: 260px;
  height: 150px;
}

/* sideways view (board on left and boxes on the right) */
.container {
  display: flex; /* Enables flexbox */
}

/* specifying style of div for move history and its navigation */
#moveBox {
  /* margin-left: 50px; */
  margin-top: 55px;
  height: 300px;
  width: 250px;
  background-color: lightsalmon;
  padding-right: 10px;
  font-size: 25px;
}

/* div for showing the moves and scrolling */
#moveLogger {
  font-size: 20px;
  /* overflow: auto; (would replace the two lines below)*/
  overflow: scroll;
  overflow-x: hidden;
  height: 220px;
  padding-right: 10px;
}

/* specifying style for div for buttons (resign, draw offer, flip board) */
#gameButtonsDiv {
  background-color: rgb(38, 255, 0);
  padding: 20px;
}

/* style for buttons */
button {
  font-size: 18px;
  border-style: 2px solid blue;
  border-radius: 4px;
  cursor: pointer;
}

/* when hovered over */
button:hover {
  background-color: red;
  border-style: inset;
}

/* when clicked */
button:active {
  background-color: grey;
}

/* box showing pieces the used can chose from to promote */
#promotionInfo {
  background-color: orangered;
  font-size: 30px;
  margin-left: 100px; 
}

#promotionInfo>span {
  margin-right: 20px;
}

#promotionInfo>img {
 border: 2px solid blue;
 border-radius: 4px; 
 margin-right: 5px;
}

#promotionInfo>img:hover{
  background-color: lightgreen;
  vertical-align: middle;
}

#promotionInfo>img:active {
  background-color: red;
  border-style: inset;
}

.hideInfo {
  /* does not take take any space: */
  display: none;
  /* does keep its space: visibility: hidden */
}

.displayFlex {
  display: flex;
  align-items: center; 
  padding-bottom: 20px;
}

/* template for divs to display (log) moves */
.moveDivTemplate, .numberDivTemplate {
  height: 40px;
  width: 60px;
  border: 3px solid blue;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  vertical-align: top;
}

.moveDivTemplate {
  cursor: pointer;
}

.numberDivTemplate {
  width: 30px;
  border-color: green;
}

.moveDivTemplate img {
  padding-top: 5px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  /* making the image "see through" for clicks so DIV under it can be clicked */
  pointer-events: none;
}

/* highlight currently displayed move in the move history */
/* it's either the last move made or a move the player chose to be diplayed */
.displayedMove {
  background-color: rgb(162, 0, 255);
}