body {
  height: 100vh;
  background-image: linear-gradient(DarkGoldenrod, gold);
}

#board>div {
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
  }
  
  .whiteSquare {
    background: chocolate;
  }
  
  .blackSquare {
    background: #444;
  }
    
  #board {
    margin: 0 0 0 100px;
    width: 480px;
    border: solid brown 20px;
    background-color: grey;
    padding: 5px;
    border-radius: 8px;
  }
  
  .highlighted {
    background-color: yellow;
  }

    #blackBanner, #whiteBanner {
      margin-left: 100px;
      width: 530px;
      height: 20px;
      border-radius: 10px;
    }
  
    .hideBanner {
      background-color: transparent !important;
    }

    #blackBanner {
      margin-top: 20px;
      margin-bottom: 15px;
      background-color: black;
    }

    #whiteBanner {
      margin-top: 15px;
      background-color: white;
    }

    #infobox {
      margin-left: 100px;
      margin-top: 20px;
      padding-top: 30px;
      padding-left: 20px;
      width: 500px;
      height: 80px;
      border: grey solid 5px;
      border-radius: 10px;
      background-color: yellowgreen;
      font-size: 40px;
    }

