body {
  height: 100vh;
  background-image: linear-gradient(DarkGoldenrod, gold);
}

#board>div {
    height: 52px;
    width: 52px;
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
  }
  
#board>div>img {
  height: 52px;
  width: 52px;
}

.whiteSquare {
  background: chocolate;
}

.blackSquare {
  background: #444;
}
  
#board {
  margin: 0 0 0 100px;
  width: 416px;
  border: solid brown 20px;
  background-color: grey;
  padding: 5px;
  border-radius: 8px;
}

.highlighted {
  background-color: yellow;
}

.promotionFocus {
  background-color: blueviolet;
}

.disableClicks>div {
  pointer-events: none; /* Disable click events for all divs */
  opacity: 0.75;   /* "dimming the chess board" */
}

#blackBanner, #whiteBanner {
  margin-left: 100px;
  width: 466px;
  height: 20px;
  border-radius: 10px;
}

.hideBanner {
  background-color: transparent !important;
}

#blackBanner {
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: black;
}

#whiteBanner {
  margin-top: 15px;
  background-color: white;
}


/* template for class of boxes of different type (infobox itself, promotion, move history) */

.infoboxTemplate {
  margin-left: 10px;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 10px;
  /* width: 250px; */
  /* height: 80px; */
  border: grey solid 3px;
  border-radius: 10px;
  font-size: 20px;
}

/* sideways view (board on left and boxes on the right) */
.container {
  display: flex; /* enables flexbox */
}

/* specifying style of div for move history and its navigation */
#moveBox {
  margin-top: 20px;
  height: 220px;
  width: 330px;
  background-color: lightsalmon;
  padding-right: 10px;
}

/* div for showing the moves and scrolling */
#moveLogger {
  /* overflow: auto; (would replace the two lines below)*/
  overflow: scroll;
  overflow-x: hidden;
  height: 150px;
  padding-right: 10px;
}

/* specifying style of div => console for informing player about moves */
#infobox {
  background-color: yellow;
  width: 340px;
  height: 220px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 10px;
  font-size: 19px;
  padding-left: 15px;
}

/* specifying style for div for buttons (resign, draw offer, flip board) */
#gameButtonsDiv {
  background-color: rgb(38, 255, 0);
  padding: 10px;
  margin-top: 10px;
}

/* style for buttons */
button {
  font-size: 20px;
  border-style: solid blue;
  border-width: 4.5px;
  border-radius: 4px;
  cursor: pointer;
  background-color: lightgrey;
  margin-right: 10px;
}

/* when hovered over */
button:hover {
  background-color: orange;
  border-style: inset;
  border-color: green; 
}

/* when clicked */
button:active {
  background-color: grey;
}

/* box showing pieces the used can chose from to promote */
#promotionInfo {
  height: 40px;
  background-color: orangered;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 10px;
  padding: 8px 0px 8px 20px;
}

#promotionInfo>span {
  margin-right: 20px;
}

#promotionInfo>img {
  height: 40px;
  width: 40px;
  border: 2px solid blue;
  border-radius: 4px; 
  margin-right: 10px;
}

#promotionInfo>img:hover{
  background-color: lightgreen;
  vertical-align: middle;
}

#promotionInfo>img:active {
  background-color: red;
  border-style: inset;
}

.hideInfo {
  /* does not take take any space: */
  display: none;
  /* does keep its space: visibility: hidden */
}

.displayFlex {
  display: flex;
  align-items: center; 
  padding-bottom: 20px;
}

/* template for divs to display (log) moves */
.moveDivTemplate, .numberDivTemplate {
  height: 32px;
  width: 60px;
  border: 3px solid lightseagreen;
  display: inline-block;
  margin-left: 2px;
  margin-bottom: 6px;
  border-radius: 4px;
  vertical-align: top;
}

.moveDivTemplate {
  display: inline-flex; /* keeps it inline while using flexbox */
  align-items: center; /* vertically centers items */
  cursor: pointer;
  background-color: lightgoldenrodyellow;
  width: 120px;
  font-size: 18px;
}

.numberDivTemplate {
  text-align: center; /* Center horizontally */
  line-height: 32px; /* Set same as height, to center vertically */
  width: 30px;
  margin-right: 2px;
  border-color: green;
  background-color: greenyellow;
}

/* image of a piece that moved and that the player promoted to */
.moveDivTemplate img {
  padding-top: 5px;
  width: 28px;
  height: 28px;
  /* making the image "see through" for clicks so DIV under it can be clicked */
  pointer-events: none;
  margin-bottom: 4px;
}

/* highlight currently displayed move in the move history */
/* it's either the last move made or a move the player chose to be diplayed */
.displayedMove {
  background-color:rgb(205, 198, 115);
  border-color: yellow;
  /* background-color: lightgreen; */
  /* background-color: brown; */
  /* color: white; */
}

.redBackground {
  background-color: red;
}

.lastMove {
  background-Color: lightGreen;
}

span {
  font-size: 21px;
  margin-bottom: 10px;
}


/* gallery */

#galleryContainer {
  margin-top: 70px;
  margin-left: 10px;
}

#gallery {
  width: 52px;
  height: 433px;
  background: orangered;
  border: 3px solid grey;
  border-radius: 5px;
}

#blackGallery #whiteGallery{
  width: 80px;
  height: 250px;
  padding: 0px;
}

#separator {
  width: 52px;
  height: 3px;
  background: grey;
}

.imageDiv, .numberDiv {
  width: 35px;
  height: 35px;
  /* background: yellow; */
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
}

.numberDiv {
  width: 14px;
  height: 29px;
  font-size: 25px;
  /* background: pink; */
  padding-top: 6px;
  padding-left: 3px;
}

.imageDiv > img {
  height: 35px;
  width: 35px;
}

#blackScore, #whiteScore {
  height: 40px;
  width: 52px;
  background: darkslategrey;
}